body {
    background-color: black;
    color: white;
    font-family: 'Science Gothic', sans-serif;
}


.navigation ul {
    display: flex;
    gap: 3vh;
    justify-content: center;
    margin-left: 30vh;
    align-items: center;
}

ul {
    list-style: none;
}



a {
    text-decoration: none;
    color: white;
}

.cont{
    margin-left: 30vh;
}

.cont,.clck,.clck2,.join{
    color: white;
    border-radius: 12px;
    border: 2px dashed green;
    padding: 1vh;
}

.nav li a:hover
 {
    color: green;
    transition: 0.5s ease-in;
}

.nav li .cont:hover,
.clck:hover,
.clck2:hover,
.join:hover {
    background-color: green;
    transition: 0.8s ease-in;
    color: black;
    cursor: pointer;
}

.spn1 {
    color: green;
}

main {
    display: grid;
    justify-content: center;
    margin-top: 25vh;
} 

.text_area {
    margin-top: 7vh;
}

.section_2,.section_3 {
    display: flex;
    justify-content: center;
    gap: 15vh;
}

.section_3 {
    margin-top: 25vh;
}

.img1,.img2 {
    width: 300px;
}

.cards {
    align-items: center;
    display: flex;
    gap: 8vh;
    border-radius: 12px;
   justify-content: center;
}

.rbImg {
    border-radius: 10px;
}

.card {
        background-color: rgb(33, 33, 33);
        border-radius: 12px;
        padding: 2vh;
}

.section_4 {
    margin-top: 25vh;
}

.num {
    color: green;
}

.section_5 {
    display: flex;
    justify-content: center;
    gap: 12vh;
    margin-top: 20vh;
    background-image: url('img/backgraund\ 1.png');
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 12px;
}

.num_box {
    padding: 3vh;
    padding-right: 10vh;
    padding-left: 10vh;
    text-align: center;
    border: 1px dashed green;
    border-radius: 12px;
}

.section_6 {
    display: flex;
    margin-top: 25vh;
}

.small_texts {
    margin-left: 15vh;
    margin-top: 5vh;
}

.small_text2 {
    margin-top: 8vh;
}

.clck,.clck2,.join {
    margin-top: 5vh;
    width: 100px;
}

.text_area3 {
    margin-left: 3vh;
}

.photo_area3 {
    margin-left: 30vh;
}

.img3 {
    width: 400px;
    border-radius: 15px;
}



.section_7 {
    display: flex;
    background-color:  rgb(33, 33, 33);
    border-radius: 15px;
    margin-top: 25vh;
    padding: 5vh;
    gap: 25vh;
    padding-left: 20vh;
    
}


.section_8{
    margin-top: 25vh;
    display: grid;
    justify-content: center;
}

.team_boxes {
    margin-top: 8vh;
    display: flex;
    gap: 20vh;
    align-items: center;
}

.tm1 {
    width: 235px;
}


.tmbox1,.tmbox2,.tmbox3 {
    height: 68vh;
}

.team_box {
     background-color:  rgb(33, 33, 33);
     padding: 3vh;
     border-radius: 15px;
}

.join {
    text-align: center;
    margin-top: 3vh;
    margin: 0 auto;
}

.jn3 {
    margin-top: 2vh;
}

.section_9 {
    display: grid;
    margin: 25vh;
    justify-content: center;
}

.testim1 {
    margin-left: 8vh;
}

.photo {
    display: flex;
    gap: 35vh;
}

.men,.oth {
    width: 50px;
}

.testimonial_boxes {
    display: flex;
    gap: 12vh;
    margin-top: 10vh;
    
}

.tsmBox {
    background-color:  rgb(33, 33, 33);
    padding: 5vh;
    border-radius: 15px;
}

.text_area5,.text_area6,.text_area7 {
    text-align: center;
}

.section_10,.section_11 {
    display: grid;
    justify-self: center
}

.section_11 {
    margin-top: 25vh;
}

.project_boxes {
    display: flex;
    gap: 35vh;
    margin-top: 18vh;
}

.project_box {
    background-color:  rgb(33, 33, 33);
      padding: 5vh;
    border-radius: 15px;
}

.pricing_boxes {
    display: flex;
    gap: 35vh;
    margin-top: 8vh;
    text-align: center;
   
}

.prm {
    color: gold;
}

.prc {
    text-decoration: underline;
}


.pricing_box {
        background-color:  rgb(33, 33, 33);
      padding: 5vh;
    border-radius: 15px;
    padding-bottom: 12vh;
}



ol {
    padding-top: 5vh;
}

