body {
    background-color: black;
    color: white;
    font-family: 'Science Gothic', sans-serif;
}
.navigation ul {
    display: flex;
    gap: 3vh;
    justify-content: center;
    margin-left: 30vh;
    align-items: center;
}

ul {
    list-style: none;
}



a {
    text-decoration: none;
    color: white;
}

.cont{
    margin-left: 30vh;
}

.cont{
    color: white;
    border-radius: 12px;
    border: 2px dashed green;
    padding: 1vh;
}

.nav li a:hover {
    color: green;
    transition: 0.5s ease-in;
}

.nav li .cont:hover {
    background-color: green;
    transition: 0.8s ease-in;
    color: black;
}

.spn1 {
    color: green;
}

main {
    display: grid;
    justify-content: center;
    margin-top: 25vh;
} 

.text_area {
    margin-top: 7vh;
}

.section_2,.section_3 {
    display: flex;
    justify-content: center;
    gap: 15vh;
}

.section_3 {
    margin-top: 25vh;
}

.img1,.img2 {
    width: 300px;
}

.cards {
    align-items: center;
    display: flex;
    gap: 8vh;
    border-radius: 12px;
}

.section_4 {
    display: grid;
    margin-top: 25vh;
    grid-template-columns: repeat(4px, 2fr);
}




