body {
    background-color: black;
    color: white;
}
.navigation ul {
    display: flex;
    gap: 3vh;
    justify-content: center;
    margin-left: 30vh;
    align-items: center;
}

ul {
    list-style: none;
}



a {
    text-decoration: none;
    color: white;
}

.cont    {
    margin-left: 30vh;
    
}

 

.cont{
    color: white;
    border-radius: 12px;
    border: 2px dashed green;
    padding: 1vh;
}

.nav li a:hover {
    color: green;
    transition: 0.5s ease-in;
}

.nav li .cont:hover {
    background-color: green;
    transition: 0.8s ease-in;
    color: black;
}



